@page "/Skapa/{mapName}"
@using LeafletForBlazor
@using Skattjakt.Data
@using BrowserInterop.Extensions
@using BrowserInterop.Geolocation
@using System.Diagnostics
@using Microsoft.JSInterop
@inject IJSRuntime jsR
@inject NavigationManager NavManager
@inject TreasureMapService treasureMapService

<h1 class="map-name-title">@Map!.Name</h1>
<div class="create-stations">
    <div class="btn-map-container">
        @if (parameters != null)
        {
            <RealTimeMap @ref="realTimeMap" Parameters="@parameters" height="@mapHeight" width="@mapWidth" OnClickMap="AddPositonAndStreamPoint"></RealTimeMap>
        }
        <div class="btn-row">
            <button type="button" @onclick="GetGeoLocation" disabled="@getLocationBtnDisabled">Hitta Position</button>
            <button type="button" @onclick="NavigateToSetup" disabled="@gotoSetupBtnDisable">Till Inställningar</button>
        </div>
    </div>

    <div class="station-table">
        @for (int i = 0; i < Locations.Count; i++)
        {
            <StationItem Station="@Locations[i]" Index=@i TotalStations="@Locations.Count" OnDelete="Delete" OnMoveUp="MoveUp" OnMoveDown="MoveDown" />
        }
    </div>
</div>

@code {
    [Parameter]
    public string? MapName { get; set; }

    private string mapHeight = "460px";
    private string mapWidth = "620px";

    private bool getLocationBtnDisabled = false;
    private bool gotoSetupBtnDisable = true;

    /// <summary>
    /// List of Stations that will be displayed as StationItem components
    /// </summary>
    public List<Station> Locations = new List<Station>();

    /// <summary>
    /// List of StreamPoints that will be displayed on the map
    /// </summary>
    public List<RealTimeMap.StreamPoint> StreamPoints = new List<RealTimeMap.StreamPoint>();

    /// <summary>
    /// Reference to the RealTimeMap component
    /// </summary>
    RealTimeMap? realTimeMap;
    RealTimeMap.LoadParameters? parameters = null;

    /// <summary>
    /// A Map object that will be added to the TreasureMapService when all stations are added and validated
    /// </summary>
    private TreasureMap? Map { get; set; }

    private WindowNavigatorGeolocation? geolocationWrapper;
    private GeolocationResult? currentPosition;
    private List<GeolocationPosition> positionHistory = new List<GeolocationPosition>();

    protected override void OnInitialized()
    {
        Map = new TreasureMap(MapName!)
            {
                Id = treasureMapService.GetNextId()
            };
        System.Diagnostics.Debug.Print("INITIALIZED");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        System.Diagnostics.Debug.Print("AFTER INITIALIZED ASYNC");
        var screenWidth = await jsR.InvokeAsync<int>("getScreenWidth");

        if (screenWidth <= 600)
        {
            mapHeight = "400px";
            mapWidth = "350px";
        }
        var window = await jsR.Window();
        var navigator = await window.Navigator();
        geolocationWrapper = navigator.Geolocation;
        await GetGeoLocation();

        parameters = new RealTimeMap.LoadParameters()
            {
                location = new RealTimeMap.Location()
                {
                    latitude = currentPosition!.Location.Coords.Latitude,
                    longitude = currentPosition.Location.Coords.Longitude,
                },
                zoom_level = 17
            };
    }

    public async Task GetGeoLocation()
    {
        currentPosition = (await geolocationWrapper!.GetCurrentPosition(new PositionOptions()
            {
                EnableHighAccuracy = true,
                MaximumAgeTimeSpan = TimeSpan.FromHours(1),
                TimeoutTimeSpan = TimeSpan.FromMinutes(1)
            }
        ));
        getLocationBtnDisabled = true;
    }

    /// <summary>
    /// Moves a station up in the list of stations
    /// </summary>
    /// <param name="index">The current index of the station</param>
    private void MoveUp(int index)
    {
        if (index > 0)
        {
            Skattjakt.Data.Station temp = Locations[index];
            Locations[index] = Locations[index - 1];
            Locations[index - 1] = temp;

            StreamPoints[index].value = index;
            StreamPoints[index - 1].value = index + 1;

            realTimeMap!.Geometric.Points.update(StreamPoints[index]);
            realTimeMap.Geometric.Points.update(StreamPoints[index - 1]);

            MoveUpInStreamPoints(index);
        }
    }
    /// <summary>
    /// Move the streampoint up in StreamPoints
    /// </summary>
    /// <param name="index"></param>
    private void SwapStreamPointValues(int indexA, int indexB)
    { }
    private void MoveUpInStreamPoints(int index)
    {
        if (index > 0)
        {
            // Find the StreamPoints that correspond to the Locations being swapped
            var streamPoint1 = StreamPoints[index];
            var streamPoint2 = StreamPoints[index - 1];

            // Swap the StreamPoints if both are found
            if (streamPoint1 != null && streamPoint2 != null)
            {
                StreamPoints[index] = streamPoint2;
                StreamPoints[index - 1] = streamPoint1;
            }
        }
    }

    /// <summary>
    /// Moves a station down in the list of stations
    /// Replace values of the realTimeMap points
    /// </summary>
    /// <param name="index">The current index of the station</param>
    private void MoveDown(int index)
    {
        if (index < Locations.Count - 1)
        {
            Skattjakt.Data.Station temp = Locations[index];
            Locations[index] = Locations[index + 1];
            Locations[index + 1] = temp;

            StreamPoints[index].value = index + 2;
            StreamPoints[index + 1].value = index + 1;

            System.Diagnostics.Debug.Print(StreamPoints[index].value.ToString() + " " + StreamPoints[index + 1].value.ToString());

            realTimeMap!.Geometric.Points.update(StreamPoints[index]);
            realTimeMap.Geometric.Points.update(StreamPoints[index + 1]);
            MoveDownInStreamPoints(index);

        }
    }
    /// <summary>
    /// Move the streampoint down in StreamPoints
    /// </summary>
    /// <param name="index"></param>
    private void MoveDownInStreamPoints(int index)
    {
        if (index < Locations.Count - 1)
        {
            // Find the StreamPoints that correspond to the Locations being swapped
            var streamPoint1 = StreamPoints[index];
            var streamPoint2 = StreamPoints[index + 1];

            // Swap the StreamPoints if both are found
            if (streamPoint1 != null && streamPoint2 != null)
            {
                StreamPoints[index] = streamPoint2;
                StreamPoints[index + 1] = streamPoint1;
            }
        }
    }
    /// <summary>
    /// Adds a station to the list of stations when the map is clicked
    /// </summary>
    /// <param name="clickPosition">The longitude and latitude where the user clicked</param>
    /// Förslag, byt namn till AddPositonAndStreamPoint
    public void AddPositonAndStreamPoint(RealTimeMap.ClicksMapArgs clickPosition)
    {
        // Add a new station that will be displayed in the list of stations
        Station station = new Station()
            {
                Location = new LocationCoordinate(clickPosition.location.latitude, clickPosition.location.longitude),
                Id = Locations.Count + 1
            };
        Locations.Add(station);

        // Add a new StreamPoint to the list of StreamPoints that will be displayed on the map
        RealTimeMap.StreamPoint streamPoint = new RealTimeMap.StreamPoint()
            {
                latitude = clickPosition.location.latitude,
                longitude = clickPosition.location.longitude,
                guid = Guid.NewGuid(),
                value = Locations.Last().Id.ToString()
            };
        StreamPoints.Add(streamPoint);

        // Set the Station guid to the StreamPoint guid
        station.PointOnMapGuid = streamPoint.guid;

        // Define the appearance of the points on the map
        realTimeMap!.Geometric.Points.Appearance().pattern = new RealTimeMap.PointSymbol()
            {
                color = "red",
                fillColor = "red",
                fillOpacity = 0.7,
                radius = 10,
            };

        // Define the appearance of the points tooltip
        realTimeMap.Geometric.Points.Appearance().pattern = new RealTimeMap.PointTooltip()
            {
                // the value is set when the StreamPoint is created and added to the StreamPoint list
                content = "${value}",
                opacity = 0.8,
                permanent = true
            };

        // Upload the StreamPoints to the map
        realTimeMap.Geometric.Points.upload(StreamPoints, true);
        if (StreamPoints.Count > 1)
        {
            gotoSetupBtnDisable = false;
        }
    }

    private void Delete(Guid guid)
    {
        Station? stationToRemove = Locations.Find(station => station.PointOnMapGuid == guid);
        RealTimeMap.StreamPoint? pointToRemove = StreamPoints.Find(sp => sp.guid == guid);
        if (stationToRemove == null || pointToRemove == null)
        {
            return;
        }
        realTimeMap!.Geometric.Points.delete(pointToRemove.guid.ToString());
        StreamPoints.Remove(pointToRemove);
        Locations.Remove(stationToRemove);

        // Update the Ids of the Stations and StreamPoints
        for (int i = 0; i < Locations.Count; i++)
        {
            Locations[i].Id = i + 1;
            StreamPoints[i].value = i + 1;
            realTimeMap!.Geometric.Points.update(StreamPoints[i]);
        }
    }

    /// <summary>
    /// TODO Save the map (Made it async because that may take some time)
    /// And navigate to setup page
    /// </summary>
    /// <returns></returns>
    private async Task NavigateToSetup()
    {
        // Add the stations to the map
        Map!.Stations = Locations;

        // Add the map to the TreasureMapService
        treasureMapService.AddMap(Map);

        await Task.Delay(100);
        NavManager.NavigateTo($"/Vilkor/{Map!.Name}");
    }
}
